* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .boxes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #005c5a;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
}

.box {
    width: 30%; 
    height: 30%;
    background-color: #022e4f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color:burlywood;
}

.reset{
    margin-top: 20px;
    padding: 8px 15px;
    color: white;
    background-color: black;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    transition: 0.5s all;
}
.reset:hover{
color: black;
background-color: white;
border: 2px solid red;
}

@media only screen and (max-width:430px) {
    .wrapper{
        width: 80vmin;
        height: 80vmin;
    }
    .reset{
        font-size: 12px;

    }
}